.view-main{
    margin: 0% 20% ;
    padding: 0% 5% 2%;
}
.viewList{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid grey;
    text-align: left;
    padding: 1.5%;
    font-size: 1.2rem;
}
.viewlist{
    border: 2px solid grey;
    background-color: antiquewhite;
    text-align: left;
    padding: 1.5%;
    font-size: 1.2rem;
}
.link{
    text-decoration: none;
    color: blueviolet;
    width: 30rem;
}
.add-link{
    text-decoration: none;
    font-size: larger;
    color: blue;
}
.header{
    border-bottom: 2px solid gray;
    text-align: left;
    padding: 1%;
    font-size: 1.3rem;
}