.App {
  text-align: center;
  margin: 0% 3%;
}
.nav{
  display: flex;
  align-items: center;
  gap: 2%;
  font-size: large;
  padding: 0% 2%;
  border-bottom: 2px solid blue;
}
.navlink{
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
}
button{
  cursor: pointer;
}